<ul class="nav">  

    <li class="nav-item menu-items">
        <a class="nav-link" href="/Dashboard/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
            </span>
            <span class="menu-title">Dashboard</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Portfolio/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
            </span>
            <span class="menu-title">Projelerim</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Experience/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
            </span>
            <span class="menu-title">Deneyimlerim</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/About/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
            </span>
            <span class="menu-title">Hakkımda</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Feature/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
            </span>
            <span class="menu-title">Hakkımda Özel</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Skill/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
            </span>
            <span class="menu-title">Yeteneklerim</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Service/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
            </span>
            <span class="menu-title">Hizmetlerim</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Contact/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
            </span>
            <span class="menu-title">İletişim Kutusu</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/AdminMessage/RecieverMessageList/">
            <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
            </span>
            <span class="menu-title">Gelen Kutusu</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/AdminMessage/SendBox/">
            <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
            </span>
            <span class="menu-title">Giden Kutusu</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/AdminMessage/AdminMessageSend/">
            <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
            </span>
            <span class="menu-title">Mesaj Gönder</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Testimonial/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
            </span>
            <span class="menu-title">Referanslarım</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/Communication/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
            </span>
            <span class="menu-title">İletişim2</span>
        </a>
    </li>
    <li class="nav-item menu-items">
        <a class="nav-link" href="/SocialMedia/Index/">
            <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
            </span>
            <span class="menu-title">Sosyal Medya</span>
        </a>
    </li>

</ul>
