@model EntityLayer.Concrete.Service
@{
    ViewData["Title"] = "AddService";
    Layout = "~/Views/Shared/AdminLayout2.cshtml";
}

<div class="card-header border-0">
              <h3 class="mb-0">Servis Ekleme</h3>
            </div>            
<form class="form-control" method="post">
    <br /> <br /> 
   @Html.Label("Servis Adı ")<br />  <br />
    <input type="text" name="Title" class="form-control"/>
    <br />
   
    @Html.Label("Servic ImageUrl ")<br />  <br />
    <input type="text" name="ImageUrl" class="form-control" />
    <br />
    
    <button class="btn btn-primary">Kaydet</button>
  
</form>