@using EntityLayer.Concrete
@model List<Service>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout2.cshtml";
}


<div class="card-header border-0">
              <h3 class="mb-0">Hizmetler Listesi</h3>
            </div>
            
            <div class="table-responsive">
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">#</th>                    
                    <th scope="col" class="sort" data-sort="status">Başlık</th>
                    <th scope="col">İmage Dosya Yolu</th>
                    <th scope="col" class="sort" data-sort="completion">Düzenle</th>
                    <th scope="col">sil</th>
                  </tr>
                </thead>
                <tbody class="list">
                    @foreach(var item in Model){
                  <tr>
                    <th>
                        @item.ServiceID
                    </th>
                    <td class="budget">
                     @item.Title
                    </td>             
                    <td>
                       @item.ImageUrl
                    </td>
                  
                    <td>
                        <a href="/Service/DeleteService/@item.ServiceID" class="btn btn-danger">SİL</a>
                    </td>
                    <td>
                        <a href="/Service/EditService/@item.ServiceID" class="btn btn-info">DÜZENLE</a>
                    </td>
                  </tr>}
             
                </tbody>
              </table>
              <br />
              <a href="/Service/AddService/" class="btn btn-primary">Yeni Hizmet Ekle</a>
            </div>
